


header{
color: red;
text-align: center;
background-color: skyblue;
border-radius: 30px;


}


 
    .grid-item {
        margin: 0 0 40px;
        box-shadow: 3px 2px 4  rgba(0,0,0,0.2);
        height: 600px;
    
    
    }
    



h2{
    
    font-family: 'Lucida Sans';
        color:darkred;
        text-align: center;
        font-size: 36px;
        clear: both;
        
        padding: 10px;
        margin-top: 50px;
        margin-bottom: 75px;
        text-align: center;
    }

    h3{
        
        border: 5px;
        border: solid;
        border-top-right-radius: 20px;
        background-color:lightcoral;
        font-family: sans-serif;
        
    }
    



img{
        max-width: 100%;
        padding: 16px;
 
}




.grid-floats:after{
content: "";
display: table;
clear: both;
}
p{

    font-family:'Times New Roman';
    text-align: left;
}
ul {
    border: 10px;
    
    margin: 0;
    padding: 0;
}


li {
    
    list-style-type: none;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;

}


@media only screen and (min-width: 1025px) {
    
    li {
       width: 25% ;
    }

    ul li:nth-child(1) {
        width: 50%;
    }
      
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    li {
       width: 33.3% ;
    }

    ul li:nth-child(1) {
        width: 50%;
    }
    ul li:nth-child(2) {
        width: 50%;
    }   
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    
    li {
       width: 50%;
    }

    ul li:nth-child(1) {
        width: 100%;
    }
     
}


 

   /* Starting CSS for Flex base Grids */
   #grid-flex .grid-item{
    border: 5px;
    border-top-color: darkred;
    border-bottom-color: darkred;
    border-right-color: white;
    border-left-color: white;

}

   #grid-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}



@media only screen and (min-width: 1025px){
    #grid-flex>li  {
       flex-basis: 25% ;
     }
 
    #grid-flex>li:nth-child(1) {
         flex-basis: 50%;
     }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    #grid-flex>li {
        flex-basis: 33.3% ;
    }

    #grid-flex>li:nth-child(1) {
        flex-basis: 50%;
    }
    #grid-flex>li:nth-child(2) {
        flex-basis: 50%;
    }   
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    
    #grid-flex>li {
        flex-basis: 50%;
    }

    #grid-flex>li:nth-child(1) {
        flex-basis: 100%;
    }
}





